@import '../../../styles/variables';
@import '../../../styles/mixins';

.eq-board__table,
.eq-board__cards {
  max-width: 100%;
}

@include mobile {
  .eq-board__table {
    display: none !important;
  }

  .eq-cards {
    display: grid;
  }
}

@include desktop {
  .eq-board__cards {
    display: none !important;
  }
}
